.loading {
    opacity: .4;
}

.loading, .loaded {
    padding: 2rem;
}

.loaded p, .loading p {
    margin-bottom: 2rem;
    border: 1px solid red;
}

.wrapper {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
}

.result {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result figure {
    height: 300px;
    width: 225px;
    border: 1px solid red;
    overflow: hidden;
}