.loading {
    opacity: .4;
}

.loading, .loaded {
    padding: 2rem;
}

p.number {
    margin-bottom: 2rem;
    border: 1px solid red;
}

p.pagination {
    border: 1px solid red;
}

.wrapper {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
}

.result {
    border: 1px solid red;
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    margin-bottom: 2rem;
}

.result figure {
    height: 300px;
    width: auto;
    border: 1px solid red;
    overflow: hidden;
}

.result figure img {
    object-position: center;
    object-fit: cover;
}

footer {
    background-color: #2d2d2d;
    height: 200px;
}