.wrapper {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
}

.result {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}