.search_box {
    width: 100%;
    max-width: 700px;
}

.input_wrapper {
    display: flex;
    margin-bottom: 1rem;
    height: 45px;
}

.search_input {
    height: 100%;
    flex: 1;
    padding: 0 1rem;
    appearance: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    border: none;
    font-size: 1rem;
}

.btn_wrapper {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.search_btn {  
    width: 39px;
    height: 39px; 
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    cursor: pointer;
}

.search_btn:hover {
    opacity: .9;
}

.search_icon {
    color: #fff;
    font-size: 1.5rem;
}

.select_wrapper {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.select {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .select_wrapper {
        padding: 0 1rem;
        gap: .5rem;
    }
}

@media screen and (max-width: 375px) {
    .select_wrapper {
        padding: 0;
    }
}