.back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    backdrop-filter: blur(.08rem);
    background-color: rgba(134, 134, 134, 0.3);
}

.message {
    position: fixed;
    padding: 2rem;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 800px;
    height: 500px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    caret-color: transparent;
    overflow: auto;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner_result {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    caret-color: transparent;
}

.title {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.plot {
    margin-bottom: 1rem;
}

.plot :nth-child(1) {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.director, .released, .actors {
    margin-bottom: 1rem;
}