.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    caret-color: transparent;
}

.pagination_item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    color: #2d2d2d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.pagination_item:hover {
    background-color: rgb(223, 223, 223);
}


.pagination_item.selected {
    background-color: #2d2d2d;
    color: #fff;
}

.dots {
    cursor: default;
}

.dots:hover {
    background-color: transparent;
}

.arrow {
    display: flex;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    /*border: none;*/
}

.disabled {
    display: none;
}

@media screen and (max-width: 450px) {

    .pagination_container {
        gap: .4rem;
    }

    .pagination_item {
        font-size: .9rem;
        width: 1.6rem;
        height: 1.6rem;
        padding: .4rem;
    }
}

@media screen and (max-width: 374px) {

    .pagination_container {
        gap: .3rem;
    }

    .pagination_item {
        font-size: .8rem;
        width: 1.5rem;
        height: 1.5rem;
        padding: .4rem;
    }
}