.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
}

.pagination_item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #2d2d2d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    padding: .4rem;
}

.pagination_item:hover {
    background-color: rgb(223, 223, 223);
}


.pagination_item.selected {
    background-color: #2d2d2d;
    color: #fff;
}

.dots {
    cursor: default;
}

.dots:hover {
    background-color: transparent;
}

.arrow {
    display: flex;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    /*border: none;*/
}

.disabled {
    display: none;
}

/* FLUID TYPOGRAPHY */

@media screen and (min-width: 280px) {
    .pagination_container {
        gap: calc(4px + 12 * ((100vw - 280px) / 170));
    }

    .pagination_item {
        font-size: calc(10px + 6 * ((100vw - 280px) / 170));
        width: calc(26px + 6 * ((100vw - 280px) / 170));
        height: calc(26px + 6 * ((100vw - 280px) / 170));
    }
}

@media screen and (min-width: 450px) {
    .pagination_container {
        gap: 16px;
    }

    .pagination_item {
        font-size: 16px;
        width: 32px;
        height: 32px;
    }
}