.results__page {
    min-width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search__wrapper {
    height: auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
}

.results__wrapper {
    padding: 2rem 2rem;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    flex: 1;
}

.to__home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.to__home:hover {
    opacity: .8;
}

@media screen and (max-width: 700px) {
    .results__wrapper, .search__wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .results__wrapper, .search__wrapper {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}