.number {
    background-color: #2d2d2d;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #fff;
} 

.item {
    list-style: none;
    padding: 1rem 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid yellow;
}

.item figure {
    width: 200px;
    display: flex;
    align-items: center;
}

.item figure img {
    width: 100%;
}

.title {
    flex: 1;
    text-align: center;
}