.search_box {
    width: 100%;
    max-width: 700px;
}

.input_wrapper {
    display: flex;
    height: calc(10vw * .5);
    max-height: 45px;
    min-height: 35px;
    margin-bottom: 1rem;
}

.search_input {
    height: 100%;
    flex: 1;
    padding: 0 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
}

.btn_wrapper {
    width: calc(10vw * .5);
    max-width: 45px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.search_btn {   
    width: calc(10vw * .45);
    max-width: 35px;
    min-width: 35px;
    height: calc(10vw * .45);
    max-height: 38px;
    max-width: 38px;
    min-height: 29px;
    min-width: 29px;
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    cursor: pointer;
}

.search_icon {
    color: #fff;
    font-size: 1.5rem;
}

.select_wrapper {
    display: flex;
    gap: 1rem;
}

.select {
    flex: 1;
}