.form {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    padding: 2rem 2.5rem;
    background-color: #1d1d1d;
}

.button__container {
   
}

.button__container button {
  
}

form .search {
   flex: 1;
   background-color: #fff;
   border: 0;
   outline: none;
   padding: 1.5rem 2rem;
   font-size: 2rem;
   color: #1d1d1d; 
}