.search_box {
    width: 100%;
    max-width: 700px;
    border: 1px solid red;
}

.input_wrapper {
    display: flex;
    height: calc(10vw * .5);
    max-height: 45px;
    min-height: 35px;
}

.search_input {
    height: 100%;
    flex: 1;
    padding: 0 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
}

.btn_wrapper {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: red;
}

.search_btn {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    cursor: pointer;
}

.search_icon {
    color: #fff;
    font-size: 1.5rem;
}