.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 2rem;
    background-color: #1d1d1d;
}

.form .search {
    width: min-content;
    border: 1px solid white;
    background-color: #fff;
    outline: none;
    font-size: 1.8rem;
    color: #fff;
    background-color: #1d1d1d;
    padding: 0 2rem;
}

::placeholder {
    color: inherit;
}
