video {
    background-color: #1d1d1d;
}

.buttons {
    display: flex;
    justify-content: space-around;
    background-color: #2d2d2d;
    padding: 1rem;
}

button {
    padding: .5rem 1rem;   
}